/* reset */

text {
    fill: fb-white;
    font-size: 24;
    font-family: System-Light;
}


/* reset end */

.tile-divider-bottom {
    x: 0;
    y: 100%-2;
    width: 100%;
    height: 2;
    fill: #A0A0A0;
}

#active-screen-indication {
    y: 10;
}

#current-entry {
    display: none;
}



/* current time group begin */

.current-time {
    width: 100;
    y: 44;
    x: 50%;
    text-anchor: middle;
}

.tracking__indicators-background {
    x: 50%-50;
    y: 24;
    height: 24;
    width: 100;
    gradient-type: radial;
    gradient-x1: 50;
    gradient-y1: 12;
    gradient-x2: 100;
    gradient-y2: 24;
    gradient-color1: fb-black;
    gradient-color2: fb-black;
    gradient-opacity1: 1;
    gradient-opacity2: 0.5;
}


/* current time group end */

#loader {
    x: 50%-25;
    y: 50%-25;
    width: 50;
    height: 50;
    fill: fb-white;
}

#configuration-instruction {
    fill: fb-black;
    width: 100%;
    height: 100%;
    display: none;
}
