
.action-button--stop-resume {
    display: inline;
    fill: fb-green;
}

.action-button--delete {
    display: none;
    fill: fb-red;
}

.current-entry {
    height: 100%;
    width: 100%;
}

.current-entry__project {
    x: 6;
    y: 50%-57;
    width: 100%;
    height: 45;
    fill: #a0a0a0;
    font-size: 35;
}

.current-entry__description {
    x: 6;
    y: 50%-17;
    width: 100%;
    height: 70;
    fill: fb-white;
    font-size: 50;
}

.current-entry__screen-separator {
    x1: 16;
    y1: 100%-12-60;
    x2: 46%-6;
    y2: 100%-12-60;
    fill: #a0a0a0;
    stroke-width: 2;
}

.current-entry__time-wrapper {
    y: 100%-12;
    x: 6;
    width: 70%;
    height: 60;
}

.current-entry__time {
    y: 0;
    x: 0;
    width: 33%;
    letter-spacing: 0;
    text-anchor: middle;
    font-size: 60;
}

.current-entry__time--active {
    letter-spacing: -2;
    font-family: System-Regular;
}

.current-entry__separator-wrapper {
    y: -4;
    x: 0;
}

.current-entry__separator {
    x: 33%;
}

.current-entry__separator--last {
    x: 66%;
}

.current-entry__time-hours {
    x: 17%;
}

.current-entry__time-minutes {
    x: 50%;
}

.current-entry__time-seconds {
    x: 83%;
}
